﻿@model IEnumerable<MooreApp.Common.Models.PreciosStockEstadoMunicipios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreMunicipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapitalMunicipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioMinimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioMaximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCalculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCalculo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreMunicipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapitalMunicipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioMinimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCalculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCalculo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
