﻿@model IEnumerable<MooreApp.Common.Models.AppOrdenesGrabadasProducto>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Student Result</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



  

    <script>

        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("VisualizeOrdenesResults", "VisualizeData")',
                contentType:'application/json',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Estadisticas.' + ex);
                }
            });
            function drawChart(result) {



                var dataArray = [];

                //In our data table, we define a new column with { role: 'annotation' } to hold our bar labels:

                //var data = google.visualization.arrayToDataTable([
                //    ['Element', 'Density', { role: 'style' }, { role: 'annotation' }],
                //    ['Copper', 8.94, '#b87333', 'Cu'],
                //    ['Silver', 10.49, 'silver', 'Ag'],
                //    ['Gold', 19.30, 'gold', 'Au'],
                //    ['Platinum', 21.45, 'color: #e5e4e2', 'Pt']
                //]);

                dataArray.push(['Dia', 'Ordenes', { role: 'annotation' }]);
                console.log(dataArray);
                $.each(result, function (i, obj) {
                    dataArray.push([obj.Dia, obj.CantidadOrdenes, obj.CantidadOrdenes]);

                });
                console.log(dataArray);


                var data = google.visualization.arrayToDataTable(dataArray);


                var columnChartOptions = {
                    title: "",
                    width: 1000,
                    height: 400,
                    bar: { groupWidth: "40%" },
                    series: {
                        0: { targetAxisIndex: 0 },

                    },
                    title: '',
                    vAxes: {
                        // Adds titles to each axis.
                        0: { title: 'Ordenes' },

                    }

                }
                var columnChart = new google.visualization.ColumnChart(document.getElementById('columnchart_div'));

                columnChart.draw(data, columnChartOptions);
            }



            //////Grafica con 2 valores

             $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("VisualizeOrdenesOficinaResults", "VisualizeData")',
                contentType:'application/json',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart2Valores(result);
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Estadisticas.' + ex);
                }
            });
            function drawChart2Valores(result) {



                var dataArray = [];

                //In our data table, we define a new column with { role: 'annotation' } to hold our bar labels:

                //var data = google.visualization.arrayToDataTable([
                //    ['Element', 'Density', { role: 'style' }, { role: 'annotation' }],
                //    ['Copper', 8.94, '#b87333', 'Cu'],
                //    ['Silver', 10.49, 'silver', 'Ag'],
                //    ['Gold', 19.30, 'gold', 'Au'],
                //    ['Platinum', 21.45, 'color: #e5e4e2', 'Pt']
                //]);

                dataArray.push(['Oficina', 'Venta', 'Ordenes',  { role: 'annotation' }]);
                console.log(dataArray);
                $.each(result, function (i, obj) {
                    dataArray.push([obj.Oficina, obj.Venta, obj.CantidadOrdenes, obj.CantidadOrdenes]);

                });
                console.log(dataArray);


                var data = google.visualization.arrayToDataTable(dataArray);
                var classicOptions = {
                    width: 1000,
                    height: 350,
                    series: {
                        0: { targetAxisIndex: 0 },
                        1: { targetAxisIndex: 1 }
                    },
                    title: '',
                    vAxes: {
                        // Adds titles to each axis.
                        0: { title: 'Venta' },
                        1: { title: 'Ordenes' }
                    }
                };




                var columnChartOptions = {
                    title: "Llegada de Ordenes Diarias",
                    width: 1000,
                    height: 400,
                    bar: { groupWidth: "20%" },


                }
                var columnChart = new google.visualization.ColumnChart(document.getElementById('columnchart2Valores_div'));

                columnChart.draw(data, classicOptions);
            }


        });
    </script>

    <!-- CSS -->
    <style>

        /* Configuracion General de la Tabla */
        table {
            width: 100%;
            height: auto;
            margin-left: 10px;
            font-family: Arial;
            font-size: 13px;
            margin-top: 10px;
        }

        table, th, td {
            border: 1px solid black;
        }

        /* Alineacion de Cantidades */
        .centrada {
            text-align: center;
        }

        /* Alineacion de Bs */
        .derecha {
            text-align: right;
            padding-right: 8px;
        }

        /* fuente negrita */
        .negrita {
            font-weight: bold;
        }

        /* Titulo de la Tabla */
        .titulo {
            font-weight: bold;
            font-family: Arial;
            font-size: 24px;
            text-align: center;
            background-color: navy;
            color: white;
        }

        /* Fecha */
        .fecha {
            background-color: lightgray;
            color: black;
            text-align: center;
        }

        /* Bs Linea de Produccion */
        .linprod {
            background-color: cornflowerblue;
            color: black;
        }

        /* Total Custom Print*/
        .tcp {
            background-color: lightgray;
            color: black;
        }

        /* Office Product */
        .offprod {
            background-color: cornflowerblue;
            color: black;
        }

        /* Total Empresa*/
        .totemp {
            background-color: lightgray;
            color: black;
        }

        /* footer - total */
        .total {
            background-color: white;
            color: black;
            font-weight: normal;
            font-size: 14px;
            padding-top: 8px;
            height: 30px;
        }

        /* footer - backlog inicial */
        .backlogini {
            background-color: darkseagreen;
            color: black;
            font-weight: bold;
            font-size: 16px;
            padding-top: 8px;
            height: 30px;
        }

        /* footer - total disponible */
        .totdisp {
            background-color: khaki;
            color: black;
            font-weight: bold;
            font-size: 16px;
            padding-top: 8px;
            height: 30px;
        }
    </style>


</head>

<body>
    <h2>@ViewBag.TituloGraficaDiaria </h2>
    <div id="columnchart_div">

    </div>
    <h2>@ViewBag.TituloGraficaDiariaOficina</h2>
    <div id="columnchart2Valores_div">
        <hr />
    </div>

    <!-- Table -->
    <table>
        <!-- Title -->
        <caption class="titulo">@ViewBag.TituloTablaDiaria</caption>


        <!-- Header -->
        <thead>

            <tr>

                <th scope="col" colspan="1" rowspan="3" class="fecha">Fecha</th>

                <th scope="col" colspan="6" class="centrada linprod">Bs. / Linea de Producción</th>

                <th scope="col" colspan="2" class="centrada fecha tcp">&nbsp</th>

                <th scope="col" colspan="2" class="centrada fecha offprod">&nbsp</th>

                <th scope="col" colspan="3" class="centrada fecha totemp">&nbsp</th>

            </tr>

            <tr>

                <th scope="col" colspan="2" class="centrada linprod">FORMAS</th>
                <th scope="col" colspan="2" class="centrada linprod">ETIQUETAS</th>
                <th scope="col" colspan="2" class="centrada linprod">ICPP</th>

                <th scope="col" colspan="2" class="centrada tcp">Total Custom Print</th>
                <th scope="col" colspan="2" class="centrada offprod">Office Product</th>
                <th scope="col" colspan="3" class="centrada totemp">Total Empresa</th>

            </tr>

            <tr>

                <!-- Header Cantidad y Bs Formas -->
                <th scope="col" class="centrada linprod">Cant.</th>
                <th scope="col" class="centrada linprod">Bs.</th>

                <!-- Header Cantidad y Bs Etiquetas -->
                <th scope="col" class="centrada linprod">Cant.</th>
                <th scope="col" class="centrada linprod">Bs.</th>

                <!-- Header Cantidad y Bs ICPP -->
                <th scope="col" class="centrada linprod">Cant.</th>
                <th scope="col" class="centrada linprod">Bs.</th>


                <!-- Header Total Custom Print -->
                <th scope="col" class="centrada tcp">Cant.</th>
                <th scope="col" class="centrada tcp">Bs.</th>

                <!-- Header Office Produc -->
                <th scope="col" class="centrada offprod">Cant.</th>
                <th scope="col" class="centrada offprod">Bs.</th>

                <!-- Header Total Empresa -->
                <th scope="col" class="centrada totemp">Cant.</th>
                <th scope="col" class="centrada totemp">Bs.</th>
                <th scope="col" class="centrada totemp">USD</th>

            </tr>

        </thead>

        <!-- Footer -->
        <tfoot>

            <!-- Totales -->
            <tr class="total">

                <!-- Leyenda Total -->
                <td class="centrada negrita">TOTAL NETO</td>

                <!-- Total Cantidad Formas -->
                <td class="centrada">@ViewBag.CantTotalFormas </td>

                <!-- Totales Bs Formas -->
                <td class="derecha">@ViewBag.BsTotalFormas</td>

                <!-- Totales Cantidad Etiquetas -->
                <td class="centrada">@ViewBag.CantTotalEtiquetas </td>

                <!-- Totales Bs Etiquetas -->
                <td class="derecha">@ViewBag.BsTotalEtiquetas </td>

                <!-- Totales Cantidad ICPP -->
                <td class="centrada">@ViewBag.CantTotalICPP</td>

                <!-- Totales Bs ICPP -->
                <td class="derecha">@ViewBag.BsTotalICPP</td>


                <!-- Total Cantidad Custom Print -->
                <td class="tcp centrada">@ViewBag.CantTotalCustomPrint</td>

                <!-- Total Bs Custom Print -->
                <td class="tcp derecha">@ViewBag.BsTotalCustomPrint </td>


                <!-- Total Cantidad Office Product -->
                <td class="offprod centrada">@ViewBag.CantTotalOfficeProduct</td>

                <!-- Total Bs Office Product -->
                <td class="offprod derecha">@ViewBag.BsTotalOfficeProduct</td>


                <!-- Total Cantidad Empresa -->
                <td class="totemp centrada">@ViewBag.CantTotalEmpresa </td>

                <!-- Total Bs Empresa -->
                <td class="totemp derecha">@ViewBag.BsTotalEmpresa</td>

                <!-- Total USD Empresa -->
                <td class="derecha">@ViewBag.USDTotalEmpresa</td>

            </tr>

            <!-- Backlog inicial -->
            <tr class="backlogini">

                <!-- Leyenda de BackLog -->
                <th scope="col" colspan="11" class="centrada">Backlog Inicial</th>

                <!-- Cantidad -->
                <th scope="col" class="centrada">@ViewBag.CantBacklogInicial</th>

                <!-- Total Bs -->
                <th scope="col" class="derecha">@ViewBag.BsBacklogInicial </th>
                <!-- Total USD -->
                <th scope="col" class="derecha">@ViewBag.USDBacklogInicial </th>
            </tr>

            <!-- Total Disponible para el Embarque -->
            <tr class="totdisp">

                <!-- Leyenda de Total Disponible -->
                <th scope="col" colspan="11" class="centrada">Total Disponible para el Embarque (Formas + Etiquetas + ICPP + Office Products)</th>

                <!-- Cantidad -->
                <th scope="col" class="centrada">@ViewBag.DifCantBacklogInicial</th>

                <!-- Bs -->
                <th scope="col" class="derecha">@ViewBag.DifBsBacklogInicial</th>

                <!-- USD -->
                <th scope="col" class="derecha">@ViewBag.DifUSDBacklogInicial</th>

            </tr>

        </tfoot>



        @foreach (var item in Model)
        {
            if (item.DiaChar == "SUB-TOTAL")
            {
                <tr class="negrita">

                    @if (item.DiaChar == "SUB-TOTAL" || item.DiaChar == "AJUSTES MES ANT." || item.DiaChar == "TOTAL")
                    {
                        <td class="centrada negrita">
                            @Html.DisplayFor(modelItem => item.DiaChar)

                        </td>
                    }
                    else
                    {
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.DiaChar)

                        </td>
                    }



                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantFormas)
                    </td>


                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsFormasChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantEtiquetas)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsEtiquetasChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantICPP)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsICPPChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantCustomPrint)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsCustomPrintChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantOfficeProduct)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsOfficeProductChar)
                    </td>
                    <td align="center">

                        @Html.DisplayFor(modelItem => item.CantTotal)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsTotalChar)

                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.VentaDolarChar)

                    </td>

                </tr>
            }
            else
            {
                <tr>

                    @if (item.DiaChar == "SUB-TOTAL" || item.DiaChar == "AJUSTES MES ANT." || item.DiaChar == "TOTAL")
                    {
                        <td class="centrada negrita">
                            @Html.DisplayFor(modelItem => item.DiaChar)

                        </td>
                    }
                    else
                    {
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.DiaChar)

                        </td>
                    }



                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantFormas)
                    </td>


                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsFormasChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantEtiquetas)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsEtiquetasChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantICPP)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsICPPChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantCustomPrint)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsCustomPrintChar)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CantOfficeProduct)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsOfficeProductChar)
                    </td>
                    <td align="center">

                        @Html.DisplayFor(modelItem => item.CantTotal)
                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.BsTotalChar)

                    </td>
                    <td class="derecha">
                        @Html.DisplayFor(modelItem => item.VentaDolarChar)

                    </td>

                </tr>
            }





        }

    </table>


</body>
</html>



