﻿@model IEnumerable<MooreApp.Common.Models.AppBacklogInicial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantBacklogInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsBacklogInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USDBacklogInicial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantBacklogInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsBacklogInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USDBacklogInicial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
