﻿<link href="~/Content/Login.css" rel="stylesheet" />

@model   MooreApp.Common.Models.ModeloUsuario
@{
    ViewBag.Title = "Pantalla de Validación";
    Layout = "~/Views/Shared/_LayoutAnonimo.cshtml";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "La validación ha fallado, por favor verifique los detalles");
    <br />

    <div class="container form-signin">

        <div id="DivLogin" class="form-group panel panel-success">
            <div class="panel-heading text-center">
                <h6 class="panel-title">Acceso Oficina Digital</h6>
            </div>
            <div class="panel-body">
                <div class="panel ">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Usuario)
                        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", placeholder = "nombre de usuario" })
                        @Html.ValidationMessageFor(m => m.Usuario)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block" id="BtnEnviar">Login</button>
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $('form').attr('rol', 'form');
</script>

