﻿@model MooreApp.Common.Models.AppOrdenesGrabadasProducto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AppOrdenesGrabadasProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantFormas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantFormas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsFormas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsFormas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantEtiquetas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantEtiquetas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsEtiquetas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsEtiquetas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantICPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantICPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsICPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsICPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantCustomPrint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantCustomPrint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsCustomPrint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsCustomPrint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantOfficeProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantOfficeProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsOfficeProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsOfficeProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
