﻿@model MooreApp.Common.Models.WSMY501

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WSMY501</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prospecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prospecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Caducidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Caducidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Postergada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Postergada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Razon_Social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razon_Social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ramo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ramo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion_Postergar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion_Postergar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_EnEspera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_EnEspera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Cerrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Cerrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioActualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioActualiza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualiza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionFacturar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionFacturar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionEntregar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionEntregar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlagWebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagWebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RifEntregar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RifEntregar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlagActualizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagActualizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_direccionEntregar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_direccionEntregar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoFacturar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoFacturar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipioFacturar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipioFacturar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoEntregar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoEntregar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipioEntregar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipioEntregar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlagValidado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlagValidado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReactivacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReactivacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdClienteProspecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClienteProspecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idsolicitudCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idsolicitudCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimoEvaluadorCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimoEvaluadorCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvaluadaAdministradora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvaluadaAdministradora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CambioPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CambioPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noreplicar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noreplicar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoTransaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoTransaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NegocioEnUsd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NegocioEnUsd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FijarPrecioBs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FijarPrecioBs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FijarPrecioBsAprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FijarPrecioBsAprobado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionPago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cotizacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
