﻿@model IEnumerable<MooreApp.Common.Models.WSMY501>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cotizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Vendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Razon_Social)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.FijarPrecioBs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FijarPrecioBsAprobado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObservacionPago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Cotizacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cod_Vendedor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cod_Cliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Razon_Social)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estatus)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.FijarPrecioBs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FijarPrecioBsAprobado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaPago)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ObservacionPago)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Cotizacion }) |
        @Html.ActionLink("Details", "Details", new { id = item.Cotizacion }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Cotizacion })
    </td>
</tr>
}

</table>
