﻿@model IEnumerable<MooreApp.Common.Models.PreciosStockEstadoMunicipios>

@{
    ViewBag.Title = "Precio Por Producto-Estado-Municipio";
}
<style type="text/css">

    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myInputDescripcion {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>

<h2>Precio Por: Producto-Estado-Municipio</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*<div class="form-group">
    @Html.LabelFor(model => model.Estado, "League", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("LeagueId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LeagueId, "", new { @class = "text-danger" })
    </div>
</div>*@
<input type="text" id="myInput" placeholder="Buscar..">
<table id="myTable">
    <tr class="header">
        <th>

            @Html.DisplayNameFor(model => model.Estado)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapitalMunicipio)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioMinimo)
        </th>
        @if (Session["IdRol"].ToString() == "403")
        {
            <th>
                @Html.DisplayNameFor(model => model.PrecioMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCalculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCalculo)
            </th>
            <th></th>
        }
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapitalMunicipio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.PrecioMinimo)
            </td>
            @if (Session["IdRol"].ToString() == "403")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioMaximo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCalculo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCalculo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPrice", new { id = item.Id })

                </td>
            }

        </tr>
    }

</table>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunctionDescripcion() {
        // Declare variables
        var input, inputCapital, filter, table, tr, td, i, txtValue, tdEstado, filterCapital;
        inputCapital = document.getElementById("myInput");
        input = document.getElementById("myInputDescripcion");
        filter = input.value.toUpperCase();
        filterCapital = inputCapital.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            tdEstado = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }

        }





    }


    function FilterByMultiple() {

        //Declare needed variables
        var dateInput, nameInput, locationInput, dateFilter, nameFilter, locationFilter, table, tr, tdN, tdD, tdL, i;

        //Set inputs by getElementById
        EstadoInput = document.getElementById('myInput');
        MunicipioInput = document.getElementById('myInputDescripcion');

        //Set filters
        EstadoFilter = EstadoInput.value.toUpperCase();
        MunicipioFilter = MunicipioInput.value.toUpperCase();

        //Set the table and tr variables
        table = document.getElementById("myTable");
        tr = document.getElementsByTagName("tr");

        //Loop through items and hide those that don't match the query -->
        for (i = 0; i < tr.length; i++) {

            //Name is at index 0
            tdN = tr[i].getElementsByTagName("td")[0];

            //Location is at index 1
            tdL = tr[i].getElementsByTagName("td")[1];

            if (tdN.innerHTML.toUpperCase().indexOf(EstadoFilter) > -1 && tdL.innerHTML.toUpperCase().indexOf(MunicipioFilter) > -1) {
                tr[i].style.display = "";
            }
            else {
                tr[i].style.display = "none";
            }
        }

    }

    function filterTable(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#myTable").rows;

        for (var i = 1; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script>