﻿@model MooreApp.Common.Models.V_Productos

@{
    ViewBag.Title = "Details";
}

<h2>Productos Stock</h2>

<div>
    <h4>V_Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_X_CAJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_X_CAJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDAD_COSTEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDAD_COSTEO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRODUCTO }) 
    @Html.ActionLink("Back to List", "Index")
</p>
